name: EmscriptenBuildDeploy

on:
  workflow_dispatch:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Build
        run: "docker build . -t build_emscripten && docker run -v `pwd`:/app build_emscripten"

      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@4
        with:
          GITHUB_TOKEN: $
          BRANCH: gh-pagesto.
          FOLDER: bin/Emscripten 
          CLEAN: true 